* {
  box-sizing: border-box;
  font: "Poppins";
}

body{
  background-color: rgb(244, 238, 255);
  margin: 0;
  min-height: 100vh;
}

h1 {
  color: #520f91;
  text-align: center;
  margin-top: 30px;
}

button{
  background-color: #520f91;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  font-family: 'Poppins';
  font-weight: 500;
}