.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.fakeButton {
    background-color: #520f91;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    align-content: center;
    margin: 20px;
}

.table {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    width: 80%;
    font-size: small;
}

.title {
    font-weight: 500;
    color:blueviolet;
}