.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button{
    background-color: #520f91;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font: "Poppins";
}

.field{
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}