.header{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(169, 156, 244);
    padding: 0px 20px;
    color: white;
}

.logo{
    width: 40px;
    height: 40px;
    color: white;
}